.button{
  color: @button-color;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 4rem;
  outline: 0;
  border-radius: 3px;
  transform: skew(-10deg);
  border: 2px solid #6d0387;
  transition: all .4s ease-in-out;
  &:hover{
    background: @hover-color;
    color: @white;
  }
  &__span{
    padding: 1.8rem 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    transform: skew(10deg);
    display: inline-block;
  }
}