<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="loader">
    <img src="img/pushero-logo.png" alt="">
</div>
<div class="wrapper">
    <header class="header">
        <div class="header__in">
            <div class="header__navbar">
                <div class="header__logo">
                    <a href="/" class="desktop-logo"><img src="img/pushero-logo.png" alt=""></a>
                    <a href="/" class="mobile-logo"><img src="img/pushero-small.png" alt=""></a>
                </div>
                <i class="fa fa-bars nav__toggle-button menu-toggle" aria-hidden="true"></i>
                <nav class="nav nav-mobile menu">
                    <div class="nav__in mobile-menu">
                        <i class="close-menu icon-close-black"></i>
                        <div class="nav__lang">
                            <div class="share-block">
                                <a href="" class="nav__link nav__link_lang">En</a>
                                <a href="" class="nav__link nav__link_lang-active nav__link_lang">De</a>
                            </div>
                        </div>
                        <div class="nav__mobile-links">
                            <a href="#first-section" class="nav__link" data-menuanchor="about">Home</a>
                            <a href="#second-section" class="nav__link" data-menuanchor="services">Features</a>
                            <a href="#third-section" class="nav__link" data-menuanchor="about">What For?</a>
                            <a href="#fifth-section" class="nav__link" data-menuanchor="about">Prices</a>
                            <a href="#sixth-section" class="nav__link" data-menuanchor="services">Contact</a>
                        </div>
                        <div class="nav__mobile-links nav__mobile-links_footer">
                            <a href="" class="nav__link">AGB</a>
                            <a href="" class="nav__link">impressum</a>
                        </div>
                        <div class="footer__share footer__share_nav">
                            <a class="footer__share-link" href="">
                                <i class="fa fa-facebook-official"></i>
                            </a>
                            <a class="footer__share-link" href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="footer__share-link" href="">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </nav>
                <div class="nav nav-desktop">
                    <div class="nav__in mobile-menu">
                        <i class="close-menu icon-close-black"></i> <i class="close-menu icon-close-black"></i>
                        <a href="#" class="nav__link" data-menuanchor="about"><i class="fa fa-lock"></i>Login</a>
                        <div class="nav__lang">
                            <div class="nav__lang">
                                <div class="share-block">
                                    <div class="share-block">
                                        <a href="" class="nav__link nav__link_lang">En</a>
                                        <a href="" class="nav__link nav__link_lang-active nav__link_lang">De</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="section section-info">
            <h1 class="section__title">Пользовательское соглашение</h1>
            <p class="section__description section__description_sm">United Business Technologies Ltd. (мы, нам, нами, нас) является единственным собственником и разработчиком Интернет-сервиса PushExpress. Эксклюзивным оператором сервиса на территории РФ является ИП Владимир Владимирович Гусев (аренда сервиса на основании договора аренды). Оператор является единственным бенефициаром работы сервиса, осуществляет настройку сервиса, прием платежей, техническую и информационную поддержку клиентов и пользователей. Сервис и все смежные продукты сервиса располагаются под доменным именем push.express.</p>
            <br>
            <p class="section__description section__description_sm">Этот документ описывает положения об использовании сервиса Push Express. Данные положения являются обязательным и беспрекословным к исполнению соглашением между сервисом Push Express и регистрируемым пользователем. Данные соглашение является открытым документом, не нуждающимся в письменном подтверждении сторонами при его принятии.</p>
            <br>
            <p class="section__description section__description_sm">Начало использование сервиса Push Express означает беспрекословное принятие положений данного документа. Напринятие положений данного документа означает отказ от использования сервиса Push Express.</p>
            <br>
            <p class="section__description section__description_sm">Данное соглашение всегда доступно для ознакомления по адресу http://push.express/terms</p>
            <br>
            <h5 class="section__info-block-title">Предоставляемые функциональные возможности сервиса</h5>
            <br>
            <p class="section__description section__description_sm">Сервис Push Express является сервисом по рассылке браузерных сообщений-нотификаций пользователям, согласившимся получать сообщения-нотификации для определенного сайта и установившим в рамках интернет-браузера на своем устройстве программного компонента Push Express (SDK). Сервис Push Express – комплекс визуальных и программных компонентов для организации рассылки сообщений-нотификаций доступный по различным интернет-адресам (URL) в рамках домена push.express.</p>
            <br>
            <p class="section__description section__description_sm">Push Express предоставляет интерфейс по созданию, изменению проектов и кампаний-рассылок, обзору данных статистики для рассылки сообщений-нотификаций пользователям. Работа и функциональные возможности сервиса Push Express (любых программных и визуальных компонентов, включая SDK) может быть изменена или дополнена United Business Technologies Ltd. в любое время без дополнительного уведомления пользователей.</p>
            <br>
            <h5 class="section__info-block-title">Подписка. Оплата. Возврат средств.</h5>
            <br>
            <p class="section__description section__description_sm">Сервис Push Express основан на принципе «подписки». Подписка на сервис означает использование функциональных возможностей сервиса Push Express за определенный и возобновляемый период времени. Стоимость периода использования сервисом определяется тарифным планом подписки. Длительность периода использования подписки – 1 месяц. Набор функциональных возможностей, опций, стоимость подписки определяется и могут быть изменен в любой время United Business Technologies Ltd. В случае изменения параметров подписки и тарифного плана (стоимости) United Business Technologies Ltd. обязуется уведомить пользователей сервиса заблаговременно, за 1 месяц до начала действия новых условий, при этом параметры уже оплаченной подписки не будут изменены до окончания периода подписки.</p>
            <br>
            <p class="section__description section__description_sm">После окончании действия периода подписки, подписка будет пролонгирована автоматически. Пользователю предоставляется возможность отказаться от подписки или обменять подписку и тарифный план с помощью программного интерфейса сервиса Push Express.</p>
            <br>
            <p class="section__description section__description_sm">Способом оплаты очередного периода подписки является предоставляемый сервис третьих лиц, производящий процессинг кредитных/дебитовых карт Stripe (stripe.com). Использование сервиса Push Express подразумевает принятия условий оказания услуг Stripe. При этом сервис Push Express оставляет за собой право передачи персональных данных пользователя сервису Stripe. Push Express не несет ответственности за сохранность пользовательских данных у сервиса Stripe.</p>
            <br>
            <p class="section__description section__description_sm">Электронные счета по списанию средств и выписки по операциям будут высланы пользователю на указанный в личном кабинете адрес электронной почты, а также доступны в виде скачиваемых электронных документов в личном кабинете в разделе «Биллинг/Счета»</p>
            <br>
        </div>
    </main>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>