<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="loader">
        <img src="img/logo.png" alt="">
    </div>
    <div class="wrapper">
        <header class="header">
            <div class="header__in">
                <div class="header__navbar">
                    <div class="header__logo"><img src="img/logo.png" alt=""></div>
                    <nav class="nav menu">
                        <div class="nav__in mobile-menu">
                            <i class="close-menu icon-close-black"></i>
                            <a href="#about" class="nav__link active" data-menuanchor="about">about</a>
                            <a href="#services" class="nav__link" data-menuanchor="services">services</a>
                            <a href="#tech" class="nav__link" data-menuanchor="tech">tech</a>
                            <a href="#works" class="nav__link" data-menuanchor="works">works</a>
                            <a href="#contacts" class="nav__link" data-menuanchor="contacts">contacts</a>
                            <div class="nav__share">
                                <div class="share-block hide">
                                    <a href="" class="nav__link"><i class="icon-facebook"></i></a>
                                    <a href="" class="nav__link"><i class="icon-twitter"></i></a>
                                </div>
                                <button class="nav__link nav__link_share share-button"><i class="icon-share"></i></button>
                            </div>
                        </div>
                    </nav>
                    <i class="nav__toggle-button menu-toggle"></i>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="section-block" id="fullpage">
                <div class="section section-first active" >
                    <div class="section__bg" id="first-section"></div>
                    <div class="section__content">
                        <h1 class="section__title">United Business Technologies.<br>
                            Internet products and mobile apps development.
                        </h1>
                        <p class="section__description">Modern Web and Mobile Development with strong focus on results.
                        </p>
                        <p class="section__description">The Team of professionals with solid tech background helps rich business goals and realise opportunities.</p>
                    </div>
                </div>
                <div class="section section-second" >
                    <h2 class="section__title section__title_big section__title_centered">Create good and developer to the best<br>
                    </h2>
                   <div class="section__info">
                       <div class="section__info-block">
                           <i class="icon-dev"></i>
                           <h5 class="section__info-block-title">Web, Desktop and Mobile Development</h5>
                       </div>
                       <div class="section__info-block">
                           <i class="icon-design"></i>
                           <h5 class="section__info-block-title">Graphic and UX/UI Design</h5>
                       </div>
                       <div class="section__info-block">
                           <i class="icon-hr"></i>
                           <h5 class="section__info-block-title">IT Recruitment & Staffing Services, Offshore</h5>
                       </div>
                       <div class="section__info-block">
                           <i class="icon-support"></i>
                           <h5 class="section__info-block-title">Support and Consulting Growth Hacking</h5>
                       </div>
                   </div>
                </div>
                <div class="section section-third" >
                    <h2 class="section__title section__title_big">Build. Scale. Profit.<br>
                    </h2>
                    <div class="section__info">
                        <div class="section__info-block">
                            <i class="icon-stack"></i>
                            <div class="section__info-block-content">
                                <h5 class="section__info-block-title">Stack</h5>
                                <p class="section__info-block-description">React/React Native,<br>
                                    NodeJS, JS, PHP
                                </p>
                            </div>
                        </div>
                        <div class="section__info-block">
                            <i class="icon-database"></i>
                            <div class="section__info-block-content">
                                <h5 class="section__info-block-title">Database</h5>
                                <p class="section__info-block-description">
                                    mongoDB, MySQL, Redis,
                                    rethinkDB
                                </p>
                            </div>
                        </div>
                        <div class="section__info-block">
                            <i class="icon-apps"></i>
                            <div class="section__info-block-content">
                                <h5 class="section__info-block-title">Desktop and Mobile Apps</h5>
                                <p class="section__info-block-description">
                                    Electron (MacOS, Windows),
                                    React Native (iOS, Android, Windows)
                                </p>
                            </div>
                        </div>
                        <div class="section__info-block">
                            <i class="icon-agile"></i>
                            <div class="section__info-block-content">
                                <h5 class="section__info-block-title">Agile Development</h5>
                                <p class="section__info-block-description">Agile ready team</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-fourth" >
                    <h2 class="section__title section__title_big">
                        What we do
                    </h2>
                    <p class="section__description">
                        United Business Technology creates thoughtful and convenient<br>
                        interface solutions in Web Projects, Desktop and Mobile Applications.<br>
                        Each of our projects is a unique product that solves not only the business<br>
                        matters of the client, but the technological component.
                    </p>
                    <button class="button">
                        <span class="button__span view-gallery">view the gallery</span>
                        <i class="icon-arrow"></i>
                    </button>
                </div>
                <div class="section section-fifth" >
                    <h2 class="section__title section__title_big">
                        Get in Touch
                    </h2>
                    <form action="" class="form">
                        <div class="form__row">
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Name">
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Message">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Email">
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Email">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Phone">
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="button form__button">
                                <span class="button__span">Send</span>
                                <i class="icon-arrow"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__in">
                <div class="footer__links">
                    <a href="" class="footer__link">impressum</a>
                    <span class="footer__separator">|</span>
                    <a href="" class="footer__link">agb</a>
                </div>
                <div class="nav__share footer__share">
                    <div class="share-block hide">
                        <a href="" class="nav__link"><i class="icon-facebook"></i></a>
                        <a href="" class="nav__link"><i class="icon-twitter"></i></a>
                    </div>
                    <button class="nav__link nav__link_share share-button footer__share-button"><i class="icon-share"></i></button>
                </div>
            </div>
        </footer>
        <div class="modal">
            <i class="icon-big-close close-modal"></i>
            <div class="gallery">
                <div class="gallery__image">
                    <img class="" src="img/slide-1.jpg">
                </div>
                <div class="gallery__image">
                    <img class="g" src="img/slide-1.jpg">
                </div>
                <div class="gallery__image">
                    <img class="" src="img/slide-1.jpg">
                </div>
                <div class="gallery__image">
                    <img class="ge" src="img/slide-1.jpg">
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>