.icon-arrow{
  background: url("../img/arrow.png") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: .2rem;
}
.icon-share{
  background: url("../img/share.png") no-repeat;
  background-size: 100%;
  width: 15px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
}